<div class="row mt-3">
  <p class="shadow-sm p-3 mb-3 mt-3 bg-light rounded text-center h6"><%=@user.name%><span class="ml-2">'s  Page</span></p>
  <div class="col-sm-10 offset-sm-1 d-flex d-row">
    <div class="col-3 text-center">
      <img class="rounded" src="<%= gravatar_url(@user, { size: 75 }) %>" alt="">
    </div>
    <div class="col-9">
      <p class="font-weight-bold">introduce</p>
      <p class=""><%=simple_format(@user.introduce)%></p>
      <p>総サンクス:<%=@thanks_count%></p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-around mr-3 ml-3 mt-4 mb-5">
  <p><%=link_to 'プロフィール変更',edit_user_path(@user),class:"btn btn-outline-primary" if @user==current_user%> </p>
  <p><%=link_to 'thanks一覧',"/users/#{params[:id]}/thanks",class:"btn btn-outline-primary"%></p>  
</div>